@media only screen and (max-width: 1200px){
    .formForgotPass>.col-7{
        min-width: 65%;
    }
}
@media only screen and (max-width: 991px){
    .imageLogin{
        min-width: 40%;
    }
    .contentLogin{
        max-width: 60%;
    }
    .formForgotPass>.col-7{
        min-width: 75%;
    }
}
@media only screen and (max-width: 768px){
    .imageLogin{
        min-width: 50%;
    }
    .contentLogin{
        max-width: 50%;
    }

    .formForgotPass>.col-7{
        min-width: 100%;
    }
    .logoLogin>.col>img{
        width: 8%;
    }
}
@media only screen and (max-width: 600px){
    .formForgotPass>.col-7{
        min-width: 75%;
        height: 29rem;
    }
    .imageLogin{
        display: none;
    }
    .contentLogin{
        min-width: 100%;
    }
    .logoLogin>.col>img{
        width: 5%;
    }
}
@media only screen and (max-width: 480px){
    .formForgotPass>.col-7{
        min-width: 100%;
    }
    .logoLogin>.col>img{
        width: 8%;
    }
}