@media only screen and (max-width: 1200px){
    .formLogin>.col-6{
        min-width: 65%;
    }
}
@media only screen and (max-width: 991px){
    .formLogin>.col-6{
        min-width: 78%;
    }
}
@media only screen and (max-width: 768px){
    .formLogin>.col-6{
        min-width: 100%;
    }
    .logoLogin>.col>a>img{
        width: 8%;
    }
}
@media only screen and (max-width: 600px){
    .formLogin>.col-6{
        min-width: 75%;
        height: 45rem;
    }
    .imageLogin{
        display: none;
    }
    .contentLogin{
        min-width: 100%;
    }
    .logoLogin>.col>a>img{
        width: 5%;
    }
}
@media only screen and (max-width: 480px){
    .formLogin>.col-6{
        min-width: 100%;
    }
    .logoLogin>.col>a>img{
        width: 8%;
    }
}