body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #001232;
}
.breadcrumb{
    background-color: #001232;
}
.breadcrumbContent>.col>nav{
    width: 100%;
}
.breadcrumbContent>.col>nav>ol>li>a{
    color: white;
}
.filter>h5{
    text-transform: uppercase;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}
.filter>.row>.col>p{
    text-transform: uppercase;
    font-size: 18px;
    font-family: monospace;
    font-weight: bolder;
}
.filter>.row{
    background-color: #032055;
    border-radius: 10px;
    color: white;
}
.sortAndView>.sort{
    border: 1px solid #1c3666;
    border-radius: 10px;
}
.sortBy>form>.form-inline>label{
    color: white;
}
.sortBy>form>.form-inline>select{
    background-color: #032055;
    color: white;
    border: 1px solid #032055;
}
.movies>.col-4 .imgContent>a>img,
.movies>.col-2 .imgContent>a>img {
    height: 13rem;
    width: 9rem;
    transition: 0.4s;
}

.movies>.col-4 .imgContent:hover img,
.movies>.col-2 .imgContent:hover img {
    opacity: 0.5;
    transform:scale(1.1,1.1)
    
}
.movies>.col-4>.card-body>a:hover h5,
.movies>.col-2>.card-body>a:hover h5{
    color: #31d7a9;
}

.movies>.col-2>.card-body {
    height: 7rem;
}

.movies>.col-2>.card-body>a>h5 {
    font-size: 15.5px;
    color: white;
    text-transform: uppercase;
}
.movies>.col-4>.card-body>a>h5 {
    font-size: 15.5px;
}
.movies>.col-4>.card-body>p{
    font-size: 13px;
}
.movies>.col-4>.card-body>a:hover,
.movies>.col-2>.card-body>a:hover {
    text-decoration: none;
}

.movieByItem>.col>ul>li>form>button{
    background-color: #001232;
    color: white;
    border: 1px solid #1c3666;
}
.movieByItem>.col>ul>li>form>.active{
    background-color: #032055;
    color: white;
    border: 1px solid #032055;
}

.movieRelated>.col>h5{
    text-transform: uppercase;
    font-family: monospace;font-size: 18px;
    color: white;text-decoration: underline;
}
